<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xlingo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>22A93882E51DC2280D621B358CE18BCF441CFC4F</string>
				<key>dateExpires</key>
				<string>2027/6/3</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22A93882E51DC2280D621B358CE18BCF441CFC4F</string>
						<key>dateExpires</key>
						<string>2027/6/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3XJP2YR5UD</string>
						<key>name</key>
						<string>Shanghai Wanxiang blockchain Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22A93882E51DC2280D621B358CE18BCF441CFC4F</string>
						<key>dateExpires</key>
						<string>2027/6/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3XJP2YR5UD</string>
						<key>name</key>
						<string>Shanghai Wanxiang blockchain Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22A93882E51DC2280D621B358CE18BCF441CFC4F</string>
						<key>dateExpires</key>
						<string>2027/6/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3XJP2YR5UD</string>
						<key>name</key>
						<string>Shanghai Wanxiang blockchain Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3XJP2YR5UD.com.alisa.zhao.xlingo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3XJP2YR5UD</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>xlingo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>116922bf-68e6-459b-89c7-62d6737b1871</string>
				<key>dateExpires</key>
				<string>2027/6/30</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3XJP2YR5UD</string>
				<key>name</key>
				<string>Shanghai Wanxiang blockchain Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
